@{
    ViewData["Title"] = "Restablecer Contraseña";
}
@{
    Layout = null; // Quitar el layout para esta vista
}

<h2>Restablecer Contraseña</h2>

@if (TempData["Mensaje"] != null)
{
    <div class="alert alert-danger">@TempData["Mensaje"]</div>
}

<form asp-action="MostrarNuevaContrasena" asp-controller="Login" method="post">
    <input type="hidden" name="UserId" value="@TempData["UserId"]" />

    <div class="mb-3">
        <label for="nuevaContra" class="form-label">Nueva Contraseña</label>
        <input type="password" name="nuevaContra" class="form-control" required>
    </div>

    <button type="submit" class="btn btn-primary">Actualizar Contraseña</button>
</form>
