@{
    ViewData["Title"] = "Restablecer Contraseña";
}
@{
    Layout = null; // Quitar el layout para esta vista
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restablecer Contraseña - GaleriaArte</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/11.0.16/sweetalert2.min.css">
    <link rel="stylesheet" href="../css_R/Loginn.css" />
</head>

<div class="register-container text-center">
    
    <img class="left-image" src="../css_R/Resources_Login/descarga.jpg" />
    <hr />
    <br />
    

    <form asp-action="MostrarNuevaContrasena" asp-controller="Login" method="post">
        @if (TempData["Mensaje"] != null)
        {
            <div class="alert alert-danger">@TempData["Mensaje"]</div>
        }
        <h2>Restablecer Contraseña</h2>

        <input class="form-control" type="hidden" name="UserId" value="@TempData["UserId"]" />
        <br />

        <div class="mb-3">
            <label for="nuevaContra" class="form-label">Nueva Contraseña</label>
            <br />

            <div class="input-group">
                <span class="input-group-text"><i class="bi bi-lock"></i></span>
                <input type="password" name="nuevaContra" class="form-control" required>
            </div>
        </div>
        <br />
        <button class="btn-register" type="submit" class="btn btn-primary">Actualizar Contraseña</button>
    </form>

</div>

    
