
@{
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h1>Bienvenido a la sección de Usuario</h1>
<p>Contenido de la página principal de usuario...</p>


<!-- Sección Principal -->
<div class="container-fluid bg-black text-white py-5 position-relative">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 position-relative">
                <div class="position-relative">
                    <a>
                        <img src="https://i.ibb.co/7tNxT0Ms/6ad302131a8fd46d56e471fae7f79921.jpg"
                             alt="6ad302131a8fd46d56e471fae7f79921" border="0" class="img-fluid rounded shadow-lg" style="width: 50%">
                    </a>
                    <a>
                        <img src="https://i.ibb.co/KchmxgLk/6418e6b0164f9cb61d4ba8a5b9bce947.jpg"
                             class="superpuesta img-fluid rounded shadow position-absolute top-50 start-50 translate-middle"
                             style="width: 50%; border: 5px solid white;" alt="Segunda Imagen" border="0">
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <h1 class="display-4 fw-bold">¡Bienvenido !</h1>
                <p class="text-success"> Galería de Arte</p>
                <p>
                    En esta galeria tendras varias opciones como usuario, puedes: publicar tus obras y ofertar por obras de
                    otrsos usuarios y ver donde seran las nuevas exposiciones de arte.
                </p>
                <button class="btn btn-outline-success" onclick="location.href='#panel-administrador'">Ir a ver obras</button>

            </div>

        </div>
    </div>
</div>

<section id="panel-administrador" class="events-section container">
</section>

<section class="newsletter-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3>Newsletter Sign Up</h3>
                <p>Enter your email address</p>
                <form>
                    <div class="mb-3">
                        <input type="email" class="form-control" placeholder="you@example.com" />
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="termsCheck">
                        <label class="form-check-label" for="termsCheck">
                            Acepto los términos y condiciones
                        </label>
                    </div>
                    <button type="submit" class="btn btn-newsletter">Suscribirse</button>
                </form>
            </div>
        </div>
    </div>
</section>