html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}


body {
    margin-bottom: 60px;
    background-color: #111;
    color: #fff;
    font-family: 'Arial', sans-serif;
}

.navbar {
    background-color: #000 !important;
}

.nav-link {
    color: #fff !important;
    font-weight: bold;
}

.card {
    border: none;
}

    .card img {
        height: 200px;
        object-fit: cover;
    }

input[type="email"] {
    background: #222;
    color: #fff;
    border: 1px solid #444;
    padding: 10px;
    border-radius: 5px;
}

.superpuesta {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease-in-out;
}

.superpuesta:hover {
        transform: scale(1.05);
}

.text-success {
    color: #6d4730 !important;
}

.btn-outline-success {
    border-color: #6d4730 !important;
    color: #6d4730 !important;
}

.btn-outline-success:hover {
    background-color: #6d4730 !important;
    color: #fff !important;
}

/* Animación de desvanecimiento y desplazamiento para las cards */
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.card-animation {
    opacity: 0; 
    transform: translateY(30px); 
    transition: all 0.6s ease-out;
}

.card-animation.animate {
    opacity: 1;
     transform: translateY(0);
}

/* Efecto de zoom en las imágenes al pasar el mouse */
.artwork-img {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.artwork-img:hover {
    transform: scale(1.05); 
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2); 
}
.carousel-inner img {
    width: 100%;
    height: auto; 
    max-height: 400px; 
    object-fit: contain; 
}
.d-flex {
    display: flex;
    justify-content: space-between;
    gap: 10px; 
    
}
.carousel-image {
    width: 100%; 
    max-height: 500px; 
    object-fit: cover;
}







