html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}


body {
    margin-bottom: 60px;
    background-color: #111;
    color: #fff;
    font-family: 'Arial', sans-serif;
}

.navbar {
    background-color: #000 !important;
}

.nav-link {
    color: #fff !important;
    font-weight: bold;
}

.card {
    border: none;
}

    .card img {
        height: 200px;
        object-fit: cover;
    }

input[type="email"] {
    background: #222;
    color: #fff;
    border: 1px solid #444;
    padding: 10px;
    border-radius: 5px;
}
